:root {
  --border-width: -8px;
  --border-color: #292827;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  border: 16px solid var(--border-color);
  height: 100vh;
}

.box {
  flex: 1 0 auto;
}

.box > div {
  height: 10%;
}

.row {
  display: flex;
}

.red {
  background-color: red;
}

.yellow {
  background-color: #f9e217;
}

.black {
  background-color: black;
}

.blue {
  background-color: #0c7bbc;
}

.flex-0_5 {
  flex: 0.5 0 auto;
}

.flex-1 {
  flex: 1 0 auto;
}

.flex-1_25 {
  flex: 1.25 0 auto;
}

.flex-1_5 {
  flex: 1.5 0 auto;
}

.flex-2 {
  flex: 2 0 auto;
}

.flex-2_5 {
  flex: 2.5 0 auto;
}

.flex-3 {
  flex: 3 0 auto;
}

.flex-4 {
  flex: 4 0 auto;
}

.border-right {
  box-shadow: var(--border-width) 0 0 0 var(--border-color) inset;
}

.border-bottom {
  box-shadow: 0 var(--border-width) 0 0 var(--border-color) inset;
}

.border-right-and-bottom {
  box-shadow: var(--border-width) var(--border-width) 0 0 var(--border-color)
    inset;
}